
/* base */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family:sans-serif,"\5FAE\8F6F\96C5\9ED1",arial;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  position: relative;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

div, p, dl, dt, dd {
  margin: 0;
  padding: 0;
}

li,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hgroup,
p,
blockquote,
figure,
form,
fieldset,
input,
legend,
pre,
abbr,
button {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

pre,
code,
address,
caption,
th,
figcaption {
  font-size: 1em;
  font-weight: normal;
  font-style: normal;
}

fieldset,
iframe,
img {
  border: 0;
  margin: 0;
}

caption,
th {
  text-align: left;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

article,
aside,
footer,
header,
nav,
main,
section,
summary,
details,
hgroup,
figure,
figcaption {
  display: block;
}

audio,
canvas,
video,
progress {
  display: inline-block;
  vertical-align: baseline;
}

button {
  background: none;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  cursor: pointer;
  font: inherit;
  line-height: inherit;
  overflow: visible;
  vertical-align: inherit;
}

button:disabled {
  cursor: default;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

a:active,
a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

img {
  border: 0;
}

:focus {
  outline: none;
}

[hidden] {
  display: none;
}

.nobr {
  white-space: nowrap;
}

i,
em,
code {
  font-style: normal;
}

b,
strong {
  font-weight: bold;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

input:focus,
select:focus,
textarea:focus,
button:focus, button:active {
  outline: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

