/*main css document for all html*/
/*yangyuhao group,by denghuan*/

.container{
    margin: 0 auto;
    display: block;
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10
{
    min-height: 1px;
    position: relative;
    float: left;
}

.col-1{
    width: 10%
}
.col-2{
    width: 20%
}
.col-3{
    width: 30%
}
.col-4{
    width: 40%
}
.col-5{
    width: 50%
}
.col-6{
    width: 60%
}
.col-7{
    width: 70%
}
.col-8{
    width: 80%
}
.col-9{
    width: 90%
}
.col-10{
    width: 100%
}

.fl{
    float: left;
}

.fr{
    float: right
}

.clearf:before,
.clearf:after {
    content: "";
    display: block;
    clear: both;
}