html{
  width: 100%;
  height: 100%;
  font-size: 20px;
  max-width: 500px;
  min-width: 320px;
  background-color: rgb(247, 247, 247);
}


header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height:3rem;
  background-color: #00aeff;
  color: #fff;
}
header>h1{
  text-align: center;
  font-size: 1.3rem;
  line-height: 3rem;
}

.m-body{
  position: relative;
  margin-top: 3.5rem;
}
.m-func-area{
  position: relative;
  background: #fff;
  width: 18.75rem;
  margin-top: 1rem;
}

.m-func-area>p{
  position: absolute;
  top: -.5rem;
  left: .2rem;
  height: 1.1rem;
  width: 4rem;
  font:.8rem/1.1rem 'sans-serlf';
}
.m-func-area>p::after{
  content: "";
  display: block;
  position: absolute;
  top: 0rem;
  right: -1rem;
  width: 0;
  height: 0;
  border: .5rem solid transparent;
  border-left-color: #A286BD;
}

.all-bill{
  border-radius: .5rem;
  margin: auto;
  padding: .2rem .2rem .2rem;
}

.bill-item{
  padding: .4rem;
  border-radius: .8rem;
  overflow: hidden;
  background-color: #f8f8f8;
  margin: .2rem auto;
}
.bill-item p{
  margin:.1rem auto;
}
.bill-msg{
  position: relative;
  color: rgb(48, 48, 48);
}
.bill-code{
  height: 1.6rem;
  font: 1rem/1.6rem sans-serlf;
}
.bill-code>span{
  color: #0295da;
  font: 1.1rem/1.6rem sans-serlf;
}
.bill-addr,
.bill-time,
.bill-money,
.bill-detail-name,
.bill-detail-count,
.bill-detail-money{
  font: .7rem/1.2 sans-serlf;
}

.bill-detail-item{
  margin: .2rem auto;
  background-color: #ffffff;
}
.bill-detail-item>p{
  margin: .2rem;
}

.bill-detail-name{
  color: #0295da;
}
.bill-detail-count{
  float: left;
}
.bill-detail-money{
  float: right;
}


.bill-item a{
  display: block;
  text-align: center;
  width: 100%;
  font: .9rem/1.8rem 'sans-serlf';
  border-radius: .4rem;
  border:none;
  outline: none;
  background: #0295da;
  color: #fff;
}

